/* Home general */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Tahoma;
  }

body{ 
    min-height: 100vh;
    background:linear-gradient(130deg, gold , LightCoral, mediumpurple) no-repeat;
    background-size: cover;
    background-position: center;
}

table.nav_act{
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin-top: 30px;
}

tr th{
    border: 5px solid solid black;
    background-color: black;
    padding-top: 15px ;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 60px;
    width: 108px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

th:hover{
    background-color: transparent;
    cursor: pointer;
}

div.Cabeza{
    margin-top: 90px;
    width: 100%;
    justify-content: center;
    align-items: space;
}



div.enunciado_act{
    font-size: 22px;
    display: inline;
    margin-left: 550px;
}


.content{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: centers;
    justify-content: center;

}

div div.tarjeta{
    width: 900px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    overflow:hidden;
    text-align: center;
    transition: all 0.35s;
    background: whitesmoke;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}

.content.tarjeta:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

div.tarjeta p{
    padding: 6px 0 10px 0;
    font-size: 17px;
}

div button{
    border: black solid 2px;
    padding: 9px 7px 9px 7px;
    margin: 10px 10px 7px 10px;
    background-color: black;
    border-radius: 4px;
    color: #fff;
}
/*
.cabecera{
    display: inline;
    font-family: Tahoma;
    font-size: 30px;
    margin-top: 100px;
}*/


.navegacion a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1200px;
}

.navegacion .login{
    width: 130px;
    height: 50px;
    background: transparent;
    border: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 1s;
}




/* estilo preguntas */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Tahoma;
  }
  
  
  /*espacio entre preguntas*/
  /* div.pregunta{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  } */
  
  /*espacio interno de preguntas*/
  fieldset{
    padding: 10px 25px 19px 25px;
    border-radius: 4px;
  }
  
  label {
    margin-right: 15px;
    line-height: 30px;
  }
  
  
  
  
  input:checked {
    border: 7px solid rgb(92, 44, 44);
  }
  
  legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    font-size: 14px;
  }
  
  div.formulario{
    justify-content: center;
    align-items: center;
    width: auto;/*650px*/
    height: auto;
    margin: 30px;
    background: whitesmoke;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px; 
    padding-bottom: 20px;
  }
  
  
  button{
      border: 2px solid #000;
      background-color: #000;
      color: white;
      border-radius: 4px;
      padding: 10px 14px 10px 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
  }
  
  #titulo{
     text-align: center; 
     color: #000;
  }
  
   .cabecera{
    display: inline;
    font-family: Tahoma;
    font-size: 53px;
  }
  
  img.cabecera{
    position: relative;
    top: 20px;
    left: 5px;
  }
  
  form input.texto{
    width: 100%;
    height: 30px;
    padding-left: 20px;
    margin-top: 15px;
  }
  
  .formulario input:focus{
    outline:0;
    border: 2px solid black;
  }
  
  form input.detact{
    width: 100%;
    height: 30px;
    padding-left: 20px;
    margin-top: 15px;
  }
  
  /* lista */
  #lista {
  
    padding: 10px; 
    list-style-type: none;
  }
  
  #tarjeta {
    border: 1px solid black; 
    padding: 10px; 
    list-style-type: none;
  }
  
/* Estilos generales del encabezado */
.encabezado {
  font-family: Tahoma;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.nombre-pag h1 {
  font-size: 24px;
  margin-left: 10px;
  line-height: 70px;
}

.usuario {
  flex-grow: 1; 
  text-align: center; 
}


.usuario p {
  font-size: 18px;
  margin-left: 10px;
  align-items: center;
  line-height: 70px;
}


.cerrar-sesion {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-self: end;
  text-decoration: underline;
  text-align: right;
}










  
  