*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Tahoma;
}

/*fondo de la pagina*/
body {
  min-height: 100vh;
  background:linear-gradient(130deg, gold , LightCoral, mediumpurple) no-repeat;
  background-size: cover;
  background-position: center;
}

/*espacio entre preguntas*/
div.pregunta{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/*espacio interno preguntas*/
fieldset{
  padding: 10px 25px 10px 25px;
}

label {
  margin-right: 15px;
  line-height: 30px;
}


input.radioOpc {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

div.formulario{
  justify-content: center;
  align-items: center;
  width: 530px;
  height: auto;
  margin: 30px auto;
  background: whitesmoke;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px; 
  padding-bottom: 20px;
}


button{
    border: #000;
}

#titulo{
   text-align: center; 
   color: #000;
}

 .cabecera{
  display: inline;
  font-family: Tahoma;
  font-size: 60px;
}

#nomPag{
  position: relative;
  top: 10px;
}